@import '~todomvc-app-css/index.css';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  padding: 1em;
  font-size: larger;
  font-weight: bolder;
}
